<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmarkData</key>
		<data>
		Ym9va5QEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAYAMAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGN1cnRpcwAACQAAAAEB
		AABEb2N1bWVudHMAAAAFAAAAAQEAAGxvZ2ljAAAACgAAAAEBAABjb2xsYWIt
		Y2NwAAADAAAAAQEAAG9uZQAIAAAAAQEAAG9uZS5iYW5kHAAAAAEGAAAEAAAA
		FAAAACQAAAA4AAAASAAAAFwAAABoAAAACAAAAAQDAABRaQYAAAAAAAgAAAAE
		AwAAosUGAAAAAAAIAAAABAMAAKPFBgAAAAAACAAAAAQDAABQ8gYAAAAAAAgA
		AAAEAwAAFQO0AAAAAAAIAAAABAMAAHwWtAAAAAAACAAAAAQDAADkK7QAAAAA
		ABwAAAABBgAAnAAAAKwAAAC8AAAAzAAAANwAAADsAAAA/AAAAAgAAAAABAAA
		QcHTlIeAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
		AwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
		AABNYWNpbnRvc2ggSEQIAAAABAMAAABQYkF0AAAACAAAAAAEAABBv+dG/AAA
		ACQAAAABAQAAMDMzMUREM0YtMUVGMC0zREY3LUI3OTgtNDIxQkNGQzhFMjRG
		GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
		AAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQA
		AAADAwAABwAAADUAAAABAQAAL1VzZXJzL2N1cnRpcy9Eb2N1bWVudHMvbG9n
		aWMvY29sbGFiLWNjcC9vbmUvb25lLmJhbmQAAADGAAAAAQIAADMyMjljYjkw
		OWQ2ODM5YjZmZjQ4MTQ5ODVlOTJhNDU5MzNiOTE5MTI7MDAwMDAwMDA7MDAw
		MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gu
		cmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwMjswMDAwMDAwMDAwYjQyYmU0
		Oy91c2Vycy9jdXJ0aXMvZG9jdW1lbnRzL2xvZ2ljL2NvbGxhYi1jY3Avb25l
		L29uZS5iYW5kAAAA/AAAAP7///8BAAAAAAAAABQAAAAEEAAAeAAAAAAAAAAF
		EAAADAEAAAAAAAAQEAAAQAEAAAAAAAAgEAAAaAAAAAAAAABAEAAAMAEAAAAA
		AABCEAAAMAEAAAAAAAACIAAADAIAAAAAAAAFIAAAfAEAAAAAAAAQIAAAjAEA
		AAAAAAARIAAAwAEAAAAAAAASIAAAoAEAAAAAAAATIAAAsAEAAAAAAAAgIAAA
		7AEAAAAAAAAwIAAAGAIAAAAAAAABwAAAYAEAAAAAAAARwAAAFAAAAAAAAAAS
		wAAAcAEAAAAAAACA8AAAkAIAAAAAAAAA/wAAUAIAAAAAAAAgAgCARAIAAAAA
		AAA=
		</data>
		<key>date</key>
		<string>2019-12-16 02:53:07 +0000</string>
		<key>unique-id</key>
		<string>E0984A06-3D52-421F-97AE-BEE93B7BE813</string>
	</dict>
</array>
</plist>
